# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List popular libraries for Data Science.
- Create a table whit three development environment open source tools used in Data Science.
- Create a arithmetic expression.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

* NumPy
* Pandas
* Matlab

| Data Science Tools |
| --- |
| Jupyterlab |
| RStudio |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers

value = (3*4) + 5
print(value)

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 300

hours = minutes / 60

print(hours)

5.0

## Author
Yuri Moreira